@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

body {
  background-color: #f8f8fb;
}

@theme {
  --color-approved-500: #33d69f;
  --color-approved-100: #33d69f0f;

  --color-pending-500: #ff8f00;
  --color-pending-100: #ff8f000f;

  --color-draft-500: #dfe3fa;
  --color-draft-100: #dfe3fa0f;

  --color-default-text: #7e88c3;
  --color-accent: #7c5dfa;
  --color-popup-bg: #14141bbe;
}
